@{
    ViewData["Title"] = "Enter a Movie into the Collection";
}

@model Mission6___David_Morey.Models.Movies

<h1 class="text-center display-4">@ViewData["Title"]</h1>

@* Makes the inputs and forms for an addition to the movie collection to be recorded *@
<div>
    <div>
        <div>
            <form method="post">
                <input asp-for="MovieID" type="hidden" /> @*Hidden Movie ID to call a specific record*@
                <br />
                <label asp-for="CategoryId">Category</label> @*Selecting a Category*@
                <select asp-for="CategoryId">
                    <option value="">Select a Category</option>
                    @foreach (Category c in ViewBag.categories)
                    {
                        <option value="@c.CategoryId">@c.CategoryName</option>
                    }
                </select>
                <br />
                <label asp-for="Title">Title</label> @*Writing the title*@
                <input asp-for="Title" required/>
                <br />
                <label asp-for="Year">Year</label> @*Recording the year of creation*@
                <input asp-for="Year" type=number min="1888" max="2024" required/>
                <br />
                <label asp-for="Director">Director</label> @*Recording the director*@
                <input asp-for="Director" />
                <br />
                <label asp-for="Rating">Rating</label> @*Recording Rating of the Movie*@
                <select asp-for="Rating" >
                    <option value="G">G</option>
                    <option value="PG">PG</option>
                    <option value="PG-13">PG-13</option>
                    <option value="R">R</option>
                </select>
                <br />
                <label asp-for="Edited">Edited</label> @*Recording if the movie was edited*@
                <select asp-for="Edited" required>
                    <option selected>Options:</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br />
                <label asp-for="LentTo">Lent To:</label> @*Recording if the movie was lent to someone*@
                <input asp-for="LentTo" />
                <br />
                <label asp-for="CopiedToPlex">Copied to Plex?</label> @*Recording if the movie was copied to Plex*@
                <select asp-for="CopiedToPlex" required>
                    <option selected>Options:</option>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
                <br />
                <label asp-for="Notes">Notes</label> @*Recording Any General Notes*@
                <input asp-for="Notes" maxlength="25" />
                <br />
                <button type="submit" asp-route-id="">Submit</button> @* Allows the form to be submitted*@
            </form>
            <div asp-validation-summary="All"></div>
        </div>
    </div>
</div>