@{
    ViewData["Title"] = "Getting to Know Joel";
}

@* The following code displays Joel's about page with subsiquent links' *@
<h1 class="text-center display-4">@ViewData["Title"]</h1>
<div>
    <div>
        <a href ="https://www.qwcomedy.com/"><h3>Quick Wits Comedy</h3></a>
    </div>
    <div>
        <a href="https://baconsale.com/"><h3>Baconsale</h3></a>
    </div>
    <div>
        <a href="https://baconsale.com/"><img src="~/images/1.jpg" /></a>
    </div>
</div>



